@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;  
}
body{
    position: relative; 
}
img[Alt="Codo a Codo"]{
    width:120px;
}

#footer{
   background-color:#214d67 ; 
   color:white
}
.verde{
    background-color: #97C93E; 
    color:white;
}
.verde:hover{
    box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.28);
}
.carousel-inner{
    filter: brightness(0.4);
}
@media (max-width:359px){
    .none1{
        display:none;
    }
 }
@media (max-width:625px){
.none{
    display:none;
}
}

