*{
    margin:0px;
    padding:0px;
}
#headerIndex{
background-image:url(../img/header.jpg);
height:147vh;
background-repeat: no-repeat;
background-position: top;
}
h2{
    color:white;
}
#headerNosotros{
    background-color: rgb(56, 55, 55);
    height:100px;
}
nav ul li {
    display: inline;
    margin-left:20px;
    
}
nav{
    text-align:right;
}
a {
    text-decoration: none;
	color: white;
	text-transform: capitalize;
	font-size: 1em;
    margin-right: 15px;
}
body{
    margin-top:0px;
}
.nosotros{
  display:flex; 
  margin-bottom: 20px;
}
.iconos{
text-align: center;
margin-bottom: 20px;
}
.pIconos{
    margin-top: 20px;
}
.anuncios{
    display:flex;  
}
footer{
    background-color: rgb(56, 55, 55);
    height:50px;
     
}
.iconosAnuncios{
    display:flex;  
}
.conatcto{
    background-image:url(../img/encuentra.jpg);
    height:95vh;
    background-repeat: no-repeat;
}
.blog{
    display:inline;  
}
.navFooter{
    text-align: left;
}
.pFooter{
    text-align: right;
    color:white;
}
.container{
    text-align: center;
    margin-top:20px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
 }
.pNosotros{
    font-size: 26px;
}
#div1Nosotros{
    margin-top: 50px;
    display:flex;
}

#anios25{
   margin-top:20px;
   margin-bottom: 20px;   
}
#parrafos1{
    text-align: left;
    margin-left: 15px;
}
