*{
    margin:0px;
    padding:0px;
}
header{
background-image:url(../img/header.jpg);
height:147vh;
background-repeat: no-repeat;
background-position: top;
}
h2{
    color:white;
}
ul {
    list-style-type: none;
    display: flex;
    align-self: center;
}
a{
    text-decoration: none;
	color: white;
	text-transform: capitalize;
	font-size: 1em;
    margin-right: 15px;
}
body{
    margin-top:0px;
}
.nosotros{
  display:inline-flex; 
}
.iconos{
text-align: center;
}
.anuncios{
    display:inline-flex;  
}
footer{
    background-color: rgb(56, 55, 55);
    height:50px;
     
}
.iconosAnuncios{
    display:inline-flex;  
}
.conatcto{
    background-image:url(../img/encuentra.jpg);
    height:95vh;
    background-repeat: no-repeat;
}
.blog{
    display:inline-flex;  
}
