* {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url(../img/header.jpg);
  height: 100vh;
}
.divHeader {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  display: inline-flex;
  margin-left: 20px;
}
#h2Index {
  width: 70%;
  margin: auto;
  height: 85vh;
  color: white;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#h2Index p {
  margin-top: 15px;
}
.tituloSeccion{
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
.masNosotros{
    width:70%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.masNosotros p{
    margin-right: 20px;
}
.iconos{
    margin-top: 20px;
    margin-bottom: 50px;
}
.iconos h3{
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 26px;
}
.anuncios{
    width:70%;
    margin:auto;
    display:flex;
 

}
.marcosAnuncios{
   width:33%;
   background-color: rgba(128, 128, 128, 0.062);
   border-style: solid;
   border-color: rgb(187, 187, 189);
}
img[alt^="anuncio"]{
    width:100%;
}
.tituloAnuncio{
 font-size: 26px;
 text-align:left;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 10px;

}
.precios{
    color:#98F710;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.iconosAnuncios{
margin:auto;

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;

}
.marcosAnuncios p{
    margin-left: 10px;
}
.iconosAnuncios p{
    font-weight: bold;
    margin-left: 10px;

}
